<?xml version="1.0" ?>
<launch>
    <arg name="config" default="$(find ai_utils_ros)/config/example.yaml"/>

    <node name="ai_utils_ros_node" pkg="ai_utils_ros" type="ai_utils_ros_node" respawn="false" output="screen">
        <rosparam file="$(arg config)" command="load" subst_value="true"/>
    </node>
</launch>
